  <!--قسمت هدر سایت-->
  <header
    class="d-flex justify-content-between px-5 pb-3 border-bottom border-secondary-subtle"
  >
    <div class="d-flex align-items-center ms-5">
      <span class="pe-5 me-5 fs-2 fw-bold">Exclusive</span>
      <nav class="ms-5 ps-5 pt-2 d-flex">
        <a routerLink="/home" class="mx-4 fw-medium ms-5">Home</a>
        <a routerLink="/contact" class="mx-4 fw-medium">Contact</a>
        <a routerLink="/about" class="mx-4 fw-medium">About</a>
        <a routerLink="/sign-up" class="mx-4 fw-medium">Sign Up</a>
      </nav>
    </div>
    <div
      class="d-flex align-content-center mx-5 px-3 bg-body-tertiary rounded-3"
    >
      <input
        class="inputBorder bg-body-tertiary"
        type="search"
        placeholder="what are you looking for?"
        name="search"
        style="width: 250px"
      />
      <button class="inputBorder bg-body-tertiary" type="submit">
        <img class="sizeIcon" src="assets/search.png" />
      </button>
    </div>
  </header>
