<body>
  <!--قسمت هدر سایت-->
  <header
    class="d-flex justify-content-between px-5 pb-3 border-bottom border-secondary-subtle"
  >
    <div class="d-flex align-items-center ms-5">
      <span class="pe-5 me-5 fs-2 fw-bold">Exclusive</span>
      <nav class="ms-5 ps-5 pt-2 d-flex">
        <a class="mx-4 fw-medium ms-5">Home</a>
        <a class="mx-4 fw-medium">Contact</a>
        <a class="mx-4 fw-medium">About</a>
        <a class="mx-4 fw-medium">Sign Up</a>
      </nav>
    </div>
    <div
      class="d-flex align-content-center mx-5 px-3 bg-body-tertiary rounded-3"
    >
      <input
        class="inputBorder bg-body-tertiary"
        type="search"
        placeholder="what are you looking for?"
        name="search"
        style="width: 250px"
      />
      <button class="inputBorder bg-body-tertiary" type="submit">
        <img class="sizeIcon" src="assets/search.png" />
      </button>
    </div>
  </header>

  <!--قسمت صفحه ثبت نام^-->

  <div class="row d-flex py-4">
    <div class="col-xl-8 ps-5">
      <!--    عکس صفحه لاگین-->
      <img class="sizePhotoLogin" src="assets/Apple Week-2.jpg" />
      <!--    تکست انیمیشنی-->
      <div class="card d-flex bg-white border-0 overflow-hidden rounded-5">
        <p class="fw-bolder fs-2 z-1 colorTx">Oniline Shop Phone</p>
      </div>
    </div>

    <!--  فرم لاگین-->
    <div class="col-xl-4 d-flex justify-content-end">
      <div class="pe-5 pt-4 mt-5 me-5">
        <p class="fw-medium fs-2">Create an account</p>
        <p class="">Enter your details bel</p>

        <input
          class="d-block my-4 pt-3 col-xl-12 inputBorder border-0 border-bottom border-secondary"
          type="text"
          name="myname"
          placeholder="Name"
        />
        <input
          class="d-block my-4 pt-2 col-xl-12 inputBorder border-0 border-bottom border-secondary"
          type="text"
          name="email"
          placeholder="Email Or Phone Number"
          multiple
          required
        />
        <input
          class="d-block my-4 pt-2 col-xl-12 inputBorder border-0 border-bottom border-secondary"
          type="password"
          name="password"
          placeholder="Password"
          minlength="6"
          required
        />

        <button
          class="d-block mt-5 py-3 col-xl-12 inputBorder text-white fw-bold rounded colorBg"
        >
          Create Account
        </button>
        <button
          class="d-block my-4 py-3 col-xl-12 inputBorder bg-white border border-secondary rounded fw-medium"
        >
          <img class="sizeIcon me-2 mb-1" src="assets/search (1).png" />Sign up
          with Google
        </button>

        <div class="mx-5 px-2">
          <span> Already have account? </span>
          <a
            class="login colorTx fw-bolder fs-5 border-bottom border-success"
            href=""
            >Log in</a
          >
        </div>
      </div>
    </div>
  </div>

</body>
